/* All this css shit you know */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --white: #ffffff;
    --grey: #333333;
    --light-green: #04AA6D;
    --dark-green: #028d5a;
    --red: #FF073A;
    --blue: #006AF9;
    --fb: #4267B2;
    --gh: #4078c0;
    --gm: #c71610;
    --ig: #bc2a8d;
    --yt: #FF0000;
    --ps: #01875f;
    --draw-speed: 0.2s
}


/* Page formatting  */

body {
    margin: 0;
}

body {
    font-family: Roboto;
}

.container {
    margin: auto;
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
    padding-bottom: 5rem;
    /* Footer height */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--grey);
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    line-height: 25px;
    transition: background-color 0.5s;
    font-family: Poppins;
}

ul li a:hover:not(.active) {
    background-color: #111;
}

ul li a.active {
    transition: background-color 0.5s;
    background-color: var(--light-green);
}

ul li a.active:hover {
    background-color: var(--dark-green);
}

ul li.right {
    float: right;
}

ul li a.logo {
    font-size: 25px;
    font-weight: 800;
    font-family: Poppins;
}

.text{
    text-indent: 25px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: var(--grey);
    color: var(--white);
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {

    ul li.right,
    ul li {
        float: none;
    }
}

h1 {
    color: var(--light-green);
    font-family: Poppins;
    font-weight: 800;
    font-size: 44px;
}

h2 {
    color: var(--light-green);
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
}

h1 span {
    color: var(--white);
}

.break-line{
    width: 100%;
    height: 80px;
}

.cover1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
    height: 600px;
    width: 350px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.cover2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
    height: 50em;
    width: 95%;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.install-button{
    color: var(--white);
    font-size:x-large;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    width: 30%;
    background-color: var(--light-green);
    border-radius: 20px;
    border: 10px;
    border-color: var(--dark-green);
    margin-top: 10px;
    margin-bottom: 10px;
}